      <div class="cart_object thing" count="<%= cart_item.count%>" price="<%= cart_item.thing.cost %>" >
        <div class="price"><%= cart_item.thing.cost %></div>
        <div class="title"><%= cart_item.thing.name %></div>
        <div class="price_sum">4PLN</div>
        <div class="count">Sztuk:<input type="text" size="2" value="<%= cart_item.count%>"></div>
        <a href="/thing/<%= cart_item.thing.id %>"><div class="info_button">Szczegóły</div></a>
        <div class="remove_button">Usuń</div>
        <br>

    </div>