<!DOCTYPE html>
<html>
<head>
  <title>Fse </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
   <meta name="Robots" content="all" /> 
    <meta name="description" content="" /> 
    <meta name="keywords" content="" /> 
    <meta name="Language" content="pl-PL" /> 
    <meta name="Author" content="greyfox" /> 
</head>
<body>



<div id="user_nav">
  <% if user_signed_in? %>
  <% if current_user.admin %> 
  <%= link_to "Admin", :controller => :admin, :action => :index %>|
  <% end%>
    Zalogowany jako <%= current_user.email %>. TO NIE TY? D:
    <%= link_to "wyloguj", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Zarejestruj", new_user_registration_path %> lub <%= link_to "Zaloguj", new_user_session_path %>
  <% end %>
</div>


<!-- To bedzie tutaj bo nie znalazlem lepszego miejsca narazie -->
       <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <div id="logo">
	<a href="/">FSE</a> 
<!--	<div id="arrowl_box">
	    <div id="arrowl"><img src="/arrow3.png"></div>
	    <div id="arrowl_content">Idz do indeks!</div>
	</div> -->
    </div>
      <div id="menu_bar">
<!--<div id="arrowc_box">
<div id="arrowc"><img src="/arrow.png"></div>
<div id="arrowc_content">Kategorie</div>
</div > -->
<a href="/"><span class="button">Strona główna<span></a>
<a href="/category/"><span class="button">Kategorie<span></a>
<a href="#"><span class="button">Informacje o nas<span></a>
<a href="#"><span class="button">Pomoc<span></a>
<a href="#"><span class="button">Koszyk<span></a> 
</div>
<div id="cart_outside">
<div id="cart">

  <a id="cart_icon" onclick="cart_click()"><img src="/assets/cart.png"><br>Koszyk<br>
    <% if @buyer && @buyer.cart %>(<span id="cart_counter"><%= @buyer.cart.cart_items.count %></span>)<% else %>(<span id="cart_counter">0</span>)<% end %></a>
  <div id="cart_content">
    <div id="cart_title">Twój koszyk</div>

    <div id="cart_objects">
      <div class="cart_object" id="cart_new_object">
          <div class="add_here"><img src="/assets/go-jump.png"></div>
          <div class="cart_finn"><div id="cart_cloud">Ziomuś! rzuć tutaj<br>Zaufaj mi!<div id="cart_cloud_triangle_l"></div></div></div>

    </div>
    <% if @buyer && @buyer.cart %>
    <% @buyer.cart.cart_items.reverse.each do |cart_item| %>
      <%= render :partial => "shop/cart_object",  :locals => { :cart_item => cart_item }  %>
    <% end %>
    <% else %>
            <div class="cart_object" id="empty_cart">
              Nie posiadasz koszyka lub nie jesteś zalogowany

    </div>

    <% end %>

    <div id="cart_summary">Suma: 200 zł</div>
      <a href="/order_summary"><div id="cart_end_button">Zakończ zakupy</div></a>
  </div>



  </div>
</div>
</div>
    <div id="frame">
      <div id="categories">


<% @categories.each do |category| %>
  <span class="button"><%= link_to category.name, category_path(category) %><span></a>

<% end %></div>
	    <%= yield %>
    </div>
  <!--  <div id="finn">
	<div id="cloud">Przygoda trwa!<div id="cloud_triangle_l"></div></div>
    <img src="http://images1.wikia.nocookie.net/__cb20120921151660/adventuretimewithfinnandjake/images/f/f3/Original_Finn.png">
    </div>-->
</body>
</html>
